<div class="jumbotron text-center">
  <h1 class="display-3">Notatki</h1>
  <p class="lead">Projekt pracownia programowania</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Dodaj nowy wpis</a>
</div>